{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
<div id="page">
    <div class="container">
        <div class="breadcrumb">
            {% block breadcrumb %}
            {{ block.super }}
            {% url 'products:contact' as contact_url %}
            {% breadcrumb_item contact_url 'CONTACT' %}
            {% endblock %}
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3>Contact Information</h3>
                <div class="row contact-info-wrap">
                    <div class="col-md-4">
                        <p><span><i class="icon-location"></i></span> Sochi</p>
                    </div>
                    <div class="col-md-4">
                        <p><span><i class="icon-phone3"></i></span>+ 7 988 188 64 10</p>
                    </div>
                    <div class="col-md-4">
                        <p><span><i class="icon-paperplane"></i></span>Telegram: @Eugene_Mountainland</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="contact-wrap">
                    <h3>Get In Touch</h3>
                    <form method="post" class="contact-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Subject</label>
                                    {{ form.subject }}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Message</label>
                                    {{ form.message }}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="submit" value="Send Message" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
